.App {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-color: black;
  
  
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
}


.ard-header{
  color: white;
  font-size: 125%;
  background-color: black;
}


.container button{
  border-color: grey;
  color: white;
  background-color: black;
  font-size: 125%;
  border-radius: 15px;
}
.container a{
  color: black;
}



.cote {
  background-color: black;
  border: 20px solid black;
}

.cote a{
  top: 35px;
  color: white;
  background-color: grey;
  text-decoration: none;
  padding: 4px 20px;
  border-radius: 10px;
  font-size: 26px;
  margin: 10px;


}